
.col1{
    margin-top: 100px;
   
    /* padding-left: 80px; */
}
.col2{
    margin-top:100px ;
    padding-left: 30px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   .ro1,.ro2,.ro3,.ro4{
       align-content: center;
   }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .ro1,.ro2,.ro3,.ro4{
        align-content: center;
    } 
   
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .col1{
        padding-left:80px;
    }
    .ro1,.ro2,.ro3,.ro4{
        align-content: center;
    }

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .col1{
        padding-left:80px;
    }.ro1,.ro2,.ro3,.ro4{
        align-content: center;
    }

 }